// markdown
code{
    color: black;
    font-family: 'Inconsolata', monospace;
    font-size: 0.4cm;
}

pre{
    //background-color: #fafaff;
    background-color: #282c34;
    font-family: 'Inconsolata', monospace;
    padding: 10px;
    padding-left: 40px;
    overflow-x: auto;
}

pre code{
        background-color: #282c34;
        color: #bbb;
        font-family: 'Inconsolata', monospace;
        //background-color: #fafaff;
}

.hljs-preprocessor{
    font-weight: bold;
    color: white;
}

.hljs-string{
    font-style: italic;
    color: white;
}

.hljs-keyword{
    font-weight: bold;
    color: white;
}

.hljs-literal{
    font-weight: bold;
    colow: white;
}

.hljs-comment{
    font-style: italic;
    color: grey;
}
