doctype html
head
    title code2image
    script(type='text/javascript', src='/knockout-3.3.0.js')
    script(type='text/javascript', src='/jquery-2.1.4.min.js')
    style.
        body{
            background-color: #114b5f;
            color: #e4fde1;
            background-image: url(/noisy.png);
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .content{
            width: 90%;
            margin: auto;
        }
        .code, .result{
            float: left;
            width: 40%;
            margin: 5%;
        }
        
        textarea{
            display: block;
            width: 100%;
            height: 400px;
            border: 0;
            padding: 0;
        }
        img{
            display: block;
            width: 100%;
            height: 400px;
        }
        button{
            background: #028090;
            display: block;
            width: 100%;
            height: 5vw;
            border: none;
            background: green;
            padding: 0;
            margin: 1vw 0 0 0;
            font-size: 1.5vw;
        }
        input{
            display: block;
            display: block;
            width: 100%;
            height: 5vw;
            padding: 0;
            border: none;
            font-size: 1.5vw;
            margin: 1vw 0 0 0;
            text-align: center;
        }
body
    .content
        h1 Input a code and take a link
        .code
            textarea(data-bind="value: code", placeholder="Input text here")
            button(data-bind="click: send") send
        .result(data-bind="visible: image() != ''")
            img(data-bind="attr: {src: image}")    
            input(data-bind="value: 'http://' + cname() + '/' + image()")
        script.
            function Form(){
                var self = this;
                self.code = ko.observable('');
                self.image = ko.observable('');
                self.cname = ko.observable('');
                
                var locked = false;
                self.send = function(){
                    if(locked) return;
                    locked = true;
                    
                    $.ajax({
                        method: 'post',
                        url: '/',
                        data: {
                            lang: 'javascript',
                            code: self.code()
                        },
                        dataType: "json"
                    }).done(function(data){
                        self.image(data.image);
                        self.cname(data.cname);
                    }).always(function(){
                        locked = false;
                        console.log(locked);
                        //location.reload();
                    });
                }
            };
            
            ko.applyBindings(new Form());
